# Build
bin/
obj/
publish/
python/build/
python/dist/
python/publish/
__pycache__/
*.pyc
*.pyo
*.user
*.suo
.vs/

# NuGet
packages/
*.nupkg

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.idea/
*.swp
*~

# Secrets
*.env
appsettings.*.local.json

# Logs
*.log
